{% extends "layout.html" %}
{% block body %}
    <h2>Bookees v1.0 - a site with wisdom</h2>

    <div class="col-md-4">
          <ul class="list-group">
            <!-- <li class="list-group-item list-group-item-light">Lastest posts</li> -->
            <li class="list-group-item list-group-item-light"><a href="https://github.com/wwwangzhou/booksite">Github repo</a></li>
            <li class="list-group-item list-group-item-light"><a href="zouwang@ucdavis.edu">Report Bug</a></li>
            <!-- <li class="list-group-item list-group-item-light">etc</li> -->
          </ul>
       </p>
    </div>
{% endblock body %}
