{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block heading %} {{ headline }} {% endblock %}

{% block body %}
   {% for review in reviews %}
      <li>{{ review }}</li>
   {% endfor %}

   {% for post in posts %}
      <h1>{{ post.book_title }}</h1>
      <p>By {{ post.user_name }} on {{ post.date_reviewed }}</p>
      <p>{{post.comment}}</p>
      <p>rating : {{post.rating}}</p>
   {% endfor %}

   <form action="{{ url_for('index') }}" method="post">
       <input type="text" name="review" placeholder="Type your review here">
       <button>Add review</button>
   </form>
{% endblock body%} # explict ending of the block
